# Song recommender

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./song_data.csv')

In [4]:
df.head()

,user_id,song_id,listen_count,title,artist,song
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,The Cove,Jack Johnson,The Cove - Jack Johnson
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2,Entre Dos Aguas,Paco De Lucia,Entre Dos Aguas - Paco De Lucia
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1,Stronger,Kanye West,Stronger - Kanye West
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1,Constellations,Jack Johnson,Constellations - Jack Johnson
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,1,Learn To Fly,Foo Fighters,Learn To Fly - Foo Fighters

In [8]:
artists = df.groupby('artist')

In [18]:
artists.nunique().loc[['Kanye West', 'Foo Fighters', 'Taylor Swift', 'Lady GaGa']]

              user_id  song_id  listen_count  title  artist  song
artist
Kanye West       2522       25            38     24       1    24
Foo Fighters     2055       31            47     31       1    31
Taylor Swift     3246       20            57     18       1    18
Lady GaGa        2928       11            48     11       1    11

In [24]:
artists.sum().loc[['Kings Of Leon', 'Coldplay', 'Taylor Swift', 'Lady GaGa']]

               listen_count
artist
Kings Of Leon         43218
Coldplay              35362
Taylor Swift          19376
Lady GaGa             12224

In [25]:
artists.sum().loc[['William Tabbert', 'Velvet Underground & Nico', 'Kanye West', 'The Cool Kids']]

                           listen_count
artist
William Tabbert                      14
Velvet Underground & Nico            80
Kanye West                         9992
The Cool Kids                        73